body {
  background-color: #E7E7E5;
  height: 100%;
  margin: 0;
}
 li {
   background-color: #E7E7E5;
   font-style: #414141;
   border-radius: 20px;
   margin-top: 40px;
   width: 300px;
   margin-left: 700px;
   padding: 5px;
 }

 li:hover {
   background-color: #8a8a8a;
   border-color: #414141;
   color: white;
 }
 li:hover a {
   color: inherit;
 }
 .grid-container {
   border: solid;
   border-radius: 20px;
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   width: 86%;
   margin: auto;
   overflow-y: auto;
   max-height: 50%;
 }
 .header {
   background-color: #6F7E67;
   font-weight: bold;
 }
 .grid-container div {
   border-left: solid;
   padding: 6px;
   margin: 0;
 }
 .grid-container div:not(.header) {
   background-color: #E7E7E5;
 }
 .newStudForm input {
   padding-left: 20px;
 }
 .leftPane li {
   border: solid;
 }
 .btn-primary{
  background-color: #33483C;
  border-color: #414141;
 }
 .btn-primary:hover{
  background-color: #6F7E67;
  border-color: #414141;
  color: #414141;
 }
