<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="icon" type="image/x-icon" href="/static/images/mainFavicon.webp">
    <link rel="stylesheet" href="/static/css/login.css">
    <title>Login</title>
  </head>
  <body>
    <div class="wrapper">
      <div id="formContent">
        <div class="first">
          <img src="/static/images/mainAvatar.png" id="icon" alt="User Icon" />
        </div>
        <br>
        {% if not message == "" %}
        {{ message }}
        <br>
        {% endif %}
        <form action='/login' method="POST" enctype="multipart/form-data">
          <input type="text" id="login" class="second" name="userName" placeholder="Username" autocomplete="off" required>
          <input type="text" id="password" class="third" name="userPass" placeholder="Password" autocomplete="off" required>
          <input type="submit" class="fourth" value="Login">
        </form>
      </div>
    </div>
  </body>
</html>
